{% extends "main.htm" %} {% block title %} signin {% endblock %}

{% block content %}
{% load static %}

<link href="{% static 'dashboard.css' %}" rel="stylesheet">

<div class="b-example-divider mb-3"></div>

<style>
  .bd-footer{
    display: none;
  }
</style>

<div class="container-fluid">
  <div class="row CONTAINERROW">
    <nav id="sidebarMenu" class="col-md-3 col-xl-1 d-md-block bg-light sidebar collapse">
      <div class="position-sticky pt-3">
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span>Moduły</span>
        </h6>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link {% block zl_activity %}{% endblock %}" href="{% url 'Zlecenia' %}">
              <i class="bi bi-file-earmark-person"></i>
              Zlecenia
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% block fa_activity %}{% endblock %}" href="{% url 'Faktury' %}">
              <i class="bi bi-receipt"></i>
              Faktury
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% block ma_activity %}{% endblock %}" href="{% url 'Magazyn' %}">
              <i class="bi bi-boxes"></i>
              Magazyn
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <main class="col-md-9 ms-sm-auto col-xl-11 mt-3">
      {% block board %} {% endblock %}
    </main>
  </div>
</div>

{% endblock %}